<?xml version="1.0" ?>
<configuration>
	<fullextent xmin="113.96121746417464" xmax="114.29767376300276" ymin="24.25119109990489" ymax="24.456841429494734" wkid="4610"/>
	<initextent xmin="113.96121746417464" xmax="114.29767376300276" ymin="24.25119109990489" ymax="24.456841429494734" wkid="4610"/>
	<!-- 地图服务url -->
    <!--<servletcontext>http://115.29.5.226:8080/flexservice/</servletcontext>  -->
    <servletcontext>http://localhost:8080/lcly/</servletcontext>
	<layers>
	    <layer id="dt" url="http://218.15.41.59:8719/wmts/sg_gz_map/Default/epsg:4610/" showtype="base" type="wmts" visible="true"></layer>
	    <layer id="yx" url="http://218.15.41.59:8719/wmts/sg_gz_image_map/Default/epsg:4610/" showtype="base" type="wmts" visible="false"></layer>
	    <layer id="zj" url="http://218.15.41.59:8719/wmts/sg_gz_image_zj/Default/epsg:4610/" showtype="base" type="wmts" visible="false"></layer>

	    <layer id="ddzh" name="韶关地质灾害" url="http://218.15.41.59:8719/wmts/sg_gtj_dzzh/Default/epsg:4610/" showtype="check" type="wmts" visible="true"></layer>
	    <layer id="DZZHYHD" name="翁源地质灾害" url="assets/DZZHYHD.json" showtype="check" type="feature" visible="false" icon="assets/images/p2.png" iconwidth="21" iconheight="20"/>
	    <layer id="YBPDK" name="已报批地块" url="assets/YBPDK.json" showtype="check" type="feature" visible="true" symbolcolor="0xff0000" symbolalpha="0.1"/>
    </layers>
	    
	<querylayers>
	    <!-- 政务外网 -->
	    <querylayer name="地名地址" displayname="地名地址"  namefield="NAME" contentfield="ADDNAME" icon="assets/main/left_searchlist_icon.png" iconwidth="21" iconheight="20"
	        url="http://218.15.41.59:8719/NewMapServer/WebServices/FeatureServer.php?layer=RHDMDZ2000">
	        <queryfield displayname="名称" name="NAME"></queryfield>
	        <queryfield displayname="地址" name="ADDNAME"></queryfield>
	    </querylayer>
	    <querylayer name="地名地址" displayname="地名地址"  namefield="NAME" contentfield="ADDNAME" icon="assets/images/p2.png" iconwidth="21" iconheight="20"
	        url="http://218.15.41.59:8719/NewMapServer/WebServices/FeatureServer.php?layer=RHDMDZ2000&request=Query">
	        <queryfield displayname="名称" name="NAME"></queryfield>
	        <queryfield displayname="地址" name="ADDNAME"></queryfield>
	    </querylayer>
	    <querylayer name="翁源地质灾害" displayname="地质灾害"  namefield="ZHLX" contentfield="ZHDD" icon="assets/images/p2.png" iconwidth="21" iconheight="20"
	        url="assets/DZZHYHD_query.json?1=1">
	        <queryfield displayname="灾害类型" name="ZHLX"></queryfield>
	        <queryfield displayname="灾害地点" name="ZHDD"></queryfield>
	    </querylayer>
	</querylayers>
	
	<statistic>
	     <staticlayer name="地质灾害地裂缝"
	        url="http://218.15.41.59:8719/NewMapServer/WebServices/FeatureServer.php?layer=sg_dzzh_dlf">
	        <!-- 分类字段 -->
	        <classfield label="灾害点名称" name="灾害点名称"/>
	         <!-- 统计字段，其中COUNT为系统的数量统计 -->
	        <sumfield label="数量" name="COUNT"/>
	    </staticlayer>
	    <staticlayer name="建设工程规划许可"
	        url="http://127.0.0.1:8719/NewMapServer/WebServices/FeatureServer.php?layer=JSGCGHXK">
	        <classfield label="项目名称" name="XMMC"/>
	        <classfield label="建设单位" name="JSDW"/>
	        <sumfield label="数量" name="COUNT"/>
	    </staticlayer>
	    <staticlayer name="已报批地块"
	        url="http://127.0.0.1:8719/NewMapServer/WebServices/FeatureServer.php?layer=JSGCGHXK">
	        <classfield label="名称" name="XMMC"/>
	        <classfield label="地址" name="JSDW"/>
	        <sumfield label="数量" name="COUNT"/>
	    </staticlayer>
	</statistic>
	
	<json>
	</json>
</configuration>