/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace esri "http://www.esri.com/2008/ags";


.zbcxButton {
	color:#FFFFFF;
	icon: Embed(source="assets/main/top_zbcx.png");
	downIcon: Embed(source="assets/main/top_zbcx_h.png");
	overIcon: Embed(source="assets/main/top_zbcx.png");
	disableIcon: Embed(source="assets/main/top_zbcx.png");
	selectedIcon: Embed(source="assets/main/top_zbcx_h.png");
	skinClass: ClassReference("cn.framework.skin.MainSelectButtonSkin");
}
.rfgcButton {
	color:#FFFFFF;
	icon: Embed(source="assets/main/top_rfgc.png");
	downIcon: Embed(source="assets/main/top_rfgc_h.jpg");
	overIcon: Embed(source="assets/main/top_rfgc.png");
	disableIcon: Embed(source="assets/main/top_rfgc.png");
	selectedIcon: Embed(source="assets/main/top_rfgc_h.jpg");
	skinClass: ClassReference("cn.framework.skin.MainSelectButtonSkin");
}
.sjtjButton {
	color:#FFFFFF;
	icon: Embed(source="assets/main/top_sjtj.png");
	downIcon: Embed(source="assets/main/top_sjtj_h.jpg");
	overIcon: Embed(source="assets/main/top_sjtj.png");
	disableIcon: Embed(source="assets/main/top_sjtj.png");
	selectedIcon: Embed(source="assets/main/top_sjtj_h.jpg");
	skinClass: ClassReference("cn.framework.skin.MainSelectButtonSkin");
}
.dtscButton {
	color:#FFFFFF;
	icon: Embed(source="assets/main/top_dtsc.png");
	downIcon: Embed(source="assets/main/top_dtsc_h.png");
	overIcon: Embed(source="assets/main/top_dtsc.png");
	disableIcon: Embed(source="assets/main/top_dtsc.png");
	selectedIcon: Embed(source="assets/main/top_dtsc_h.png");
	skinClass: ClassReference("cn.framework.skin.MainSelectButtonSkin");
}

.htglButton
{
	color:#FFFFFF;
	icon: Embed(source="assets/main/manager.png");
	downIcon: Embed(source="assets/main/manager_h.png");
	overIcon: Embed(source="assets/main/manager.png");
	disableIcon: Embed(source="assets/main/manager.png");
	selectedIcon: Embed(source="assets/main/manager_h.png");
	skinClass: ClassReference("cn.framework.skin.MainSelectButtonSkin");	
}



.py {
	color:#FFFFFF;
	icon: Embed(source="assets/main/tool_move.png");
	downIcon: Embed(source="assets/main/tool_move_h.png");
	overIcon: Embed(source="assets/main/tool_move_h.png");
	disableIcon: Embed(source="assets/main/tool_move_h.png");
	selectedIcon: Embed(source="assets/main/tool_move_h.png");
	skinClass: ClassReference("cn.framework.skin.MainSelectButtonSkin");
}
.fd {
	color:#FFFFFF;
	icon: Embed(source="assets/main/tool_zoom+.png");
	downIcon: Embed(source="assets/main/tool_zoom+_h.png");
	overIcon: Embed(source="assets/main/tool_zoom+_h.png");
	disableIcon: Embed(source="assets/main/tool_zoom+_h.png");
	selectedIcon: Embed(source="assets/main/tool_zoom+_h.png");
	skinClass: ClassReference("cn.framework.skin.MainSelectButtonSkin");
}

.sx {
	color:#FFFFFF;
	icon: Embed(source="assets/main/tool_zoom.png");
	downIcon: Embed(source="assets/main/tool_zoom_h.png");
	overIcon: Embed(source="assets/main/tool_zoom_h.png");
	disableIcon: Embed(source="assets/main/tool_zoom_h.png");
	selectedIcon: Embed(source="assets/main/tool_zoom_h.png");
	skinClass: ClassReference("cn.framework.skin.MainSelectButtonSkin");
}

.jl {
	color:#FFFFFF;
	icon: Embed(source="assets/main/tool_rule.png");
	downIcon: Embed(source="assets/main/tool_rule_h.png");
	overIcon: Embed(source="assets/main/tool_rule_h.png");
	disableIcon: Embed(source="assets/main/tool_rule_h.png");
	selectedIcon: Embed(source="assets/main/tool_rule_h.png");
	skinClass: ClassReference("cn.framework.skin.MainSelectButtonSkin");
}

.mj {
	color:#FFFFFF;
	icon: Embed(source="assets/main/tool_rule2.png");
	downIcon: Embed(source="assets/main/tool_rule2_h.png");
	overIcon: Embed(source="assets/main/tool_rule2_h.png");
	disableIcon: Embed(source="assets/main/tool_rule2.png");
	selectedIcon: Embed(source="assets/main/tool_rule2_h.png");
	skinClass: ClassReference("cn.framework.skin.MainSelectButtonSkin");
}

.qc {
	color:#FFFFFF;
	icon: Embed(source="assets/main/tool_del.png");
	downIcon: Embed(source="assets/main/tool_del_h.png");
	overIcon: Embed(source="assets/main/tool_del_h.png");
	disableIcon: Embed(source="assets/main/tool_del.png");
	selectedIcon: Embed(source="assets/main/tool_del_h.png");
	skinClass: ClassReference("cn.framework.skin.MainSelectButtonSkin");
}

.dy {
	color:#FFFFFF;
	icon: Embed(source="assets/main/tool_print.png");
	downIcon: Embed(source="assets/main/tool_print_h.png");
	overIcon: Embed(source="assets/main/tool_print_h.png");
	disableIcon: Embed(source="assets/main/tool_print.png");
	selectedIcon: Embed(source="assets/main/tool_print_h.png");
	skinClass: ClassReference("cn.framework.skin.MainSelectButtonSkin");
}

.fp {
	color:#FFFFFF;
	icon: Embed(source="assets/main/tool_change.png");
	downIcon: Embed(source="assets/main/tool_change_h.png");
	overIcon: Embed(source="assets/main/tool_change_h.png");
	disableIcon: Embed(source="assets/main/tool_change.png");
	selectedIcon: Embed(source="assets/main/tool_change_h.png");
	skinClass: ClassReference("cn.framework.skin.MainSelectButtonSkin");
}

.qp {
	color:#FFFFFF;
	icon: Embed(source="assets/main/tool_retunefull.png");
	downIcon: Embed(source="assets/main/tool_retunefull_h.png");
	overIcon: Embed(source="assets/main/tool_retunefull_h.png");
	disableIcon: Embed(source="assets/main/tool_retunefull.png");
	selectedIcon: Embed(source="assets/main/tool_retunefull_h.png");
	skinClass: ClassReference("cn.framework.skin.MainSelectButtonSkin");
}
.cxbutton {
	color:#FFFFFF;
	icon: Embed(source="assets/main/btn_search_h.jpg");
	downIcon: Embed(source="assets/main/btn_search.jpg");
	overIcon: Embed(source="assets/main/btn_search_h.jpg");
	disableIcon: Embed(source="assets/main/btn_search.jpg");
	selectedIcon: Embed(source="assets/main/btn_search.jpg");
	skinClass: ClassReference("cn.framework.skin.MainSelectButtonSkin");
}

